@use '@angular/material' as mat;
@use './palettes' as cfp;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: cfp.$cfp-navy-palette,
        tertiary: cfp.$cfp-blue-palette,
      ),
      typography: (
        plain-family: Poppins,
        brand-family: Poppins,
        regular-weight: 400,
        medium-weight: 500,
        bold-weight: 600,
      ),
      density: -2,
    )
  );

  @include mat.theme-overrides(
    (
      primary: #002178,
      on-primary: #ffffff,
      primary-container: #d6e4ff,
      on-primary-container: #002178,
      tertiary: #002178,
      on-tertiary: #ffffff,
      surface: #ffffff,
      surface-bright: #ffffff,
      surface-container-lowest: #ffffff,
      surface-container-low: #fbf7f4,
      surface-container: #fbf7f4,
      surface-container-high: #f3efe9,
      surface-container-highest: #ebe6e1,
      on-surface: #002178,
      on-surface-variant: #3d4f7c,
      outline: #d4dce8,
      outline-variant: #e8ecf2,
      inverse-surface: #002178,
      inverse-on-surface: #ffffff,
      corner-extra-small: 8px,
      corner-small: 8px,
      corner-medium: 8px,
      corner-large: 8px,
      level0: 0 0 0 0 rgb(0 33 120 / 0%),
      level1: 0 1px 2px 0 rgb(0 33 120 / 6%),
      level2: 0 4px 12px 0 rgb(0 33 120 / 8%),
      level3: 0 8px 24px 0 rgb(0 33 120 / 10%),
    )
  );
}
